html {
  box-sizing: border-box;
  background: #eeeeee;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

/* .site-wrap {
  max-width: 700px;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
  transform: scale(1);
} */

header {
  text-align: center;
  height: 100vh;
  background: url(../images/front-page.png) bottom center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: peachpuff; */
}

h1 {
  color: white;
  /* font-size: 7vw; */
  text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
  background: #0a100d;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.1);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.logo {
  max-width: 0;
  overflow: hidden;
  background: #af1a2b;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}

li.logo a {
  color: white;
}

li.logo a:hover {
  color: white;
}

.fixed-nav li.logo {
  max-width: 500px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
  transition: transform 0.5s;
  transform: scale(0.98);
}

nav a:hover {
  font-weight: bold;
  color: #af1a2b;
  transform: scale(1.2);
}

/* front-page start */
.center-image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 15px solid #af1a2b;
}

.renz,
.typewrite {
  font-family: "Halant", serif;
  font-size: 40px;
  color: #af1a2b !important;
}

.text {
  font-family: "Halant", serif;
  font-size: 40px;
  color: white;
}

/* ABOUT ME */
.about-me {
  height: 100vh;
  background-color: white;
  background: url(../images/bgtest5.png) bottom center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me h1 {
  color: #af1a2b;
  text-align: center;
  padding-top: 5rem;
  /* margin: 0; */
  /* padding: 0; */
}

.about-me img {
  height: 420px;
  width: 340px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
}

.about-me div {
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me div p {
  margin-top: 20px;
}

.about-me div button {
  margin-top: 20px;
}

/* PROJECTS */
.projects {
  height: 100vh;
  background-color: white;
  background: url(../images/bgtest1.png) bottom center no-repeat;
  background-size: cover;
}

.projects h1 {
  color: #af1a2b;
  text-align: center;
  padding-top: 5rem;
  /* margin: 0; */
  /* padding: 0; */
}

.proj-list {
  display: flex;
  justify-content: center;
}

.projects img {
  height: 250px;
  width: 420px;
  margin: 10px;
  transition: all 0.2s;
  transition: transform 0.5s;
  transform: scale(1);
}

.projects img:hover {
  transform: scale(1.08);
  z-index: 1;
}

/* SKILLS */
.skills {
  height: 100vh;
  background-color: white;
  background: url(../images/bgtest3.png) bottom center no-repeat;
  background-size: cover;
}

.skills h1 {
  color: #af1a2b;
  text-align: center;
  padding-top: 5rem;
  /* margin: 0; */
  /* padding: 0; */
}

.skills img {
  height: 80px;
  width: 80px;
  margin: 20px;
  transition: all 0.2s;
  transition: transform 0.5s;
  transform: scale(1);
}

.skills img:hover {
  transform: scale(1.2);
}

.skill-list {
  margin: 8%;
  align-items: center;
}

/* CONTACT ME */
.contact-me {
  height: 100vh;
  background-color: white;
  background: url(../images/background.png) bottom center no-repeat;
  background-size: cover;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.contact-me div {
  margin-top: 5%;
  text-align: center;
}

.contact-me h1 {
  color: #af1a2b;
  text-align: center;
  padding-top: 5rem;
  /* margin: 0; */
  /* padding: 0; */
}

.contact-me ul {
  display: flex;
  position: absolute;
  top: 480%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-me ul li {
  list-style: none;
}

.contact-me ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.contact-me ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.contact-me ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.contact-me ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.contact-me ul li a:hover:before {
  top: 0;
}

.contact-me ul li:nth-child(1) a:before {
  background: #3b5999;
}

.contact-me ul li:nth-child(2) a:before {
  background: #910557;
}

.contact-me ul li:nth-child(3) a:before {
  background: #0077b5;
}

.contact-me ul li:nth-child(4) a:before {
  background: #dd4b39;
}

/* BUTTON */
/*Button effect*/
a:link,
a:active,
a:visited {
  color: #f7ecee;
}

.button {
  padding: 15px 25px;
  font-size: 20px;
  font-family: "Libre Caslon Display", serif;
  font-style: bold;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #af1a2b;
  /* background-color: Transparent; */
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 15px;
  font-weight: 500;
  border-color: #af1a2b;
}

.button:hover {
  background-color: white;
  color: #af1a2b;
  /*#AF2636*/
}

.button a:hover {
  color: #af1a2b;
}
